/* styles.css */

/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Style de l'en-tête */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

/* Style de la section de connexion */
.login-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.login-form h2 {
    margin-top: 0;
}

.login-form label {
    display: block;
    margin: 10px 0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #555;
}

.login-form p {
    margin: 10px 0;
}

/* Style du lien "Mot de passe oublié" */
.login-form a {
    color: #333;
    text-decoration: none;
}
